<div>
	<h2>{{user.name}} Envelopes</h2>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}
</alert>

{{alerts}}
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-4 col-lg-3"><strong>Name</strong></div>
	<div class="col-lg-1 col-xs-2"><strong>Percent</strong></div>
	<div class="col-xs-2"><strong>Current Balance</strong></div>
	<div class="col-xs-1"><strong>Default Spending?</strong></div>
	<div class="col-lg-1 col-xs-2"><strong>Active?</strong></div>
	<div class="col-lg-1 visible-lg"><strong>Goal</strong></div>
	<div class="col-lg-2 visible-lg"><strong>Goal Date</strong></div>
</div>

<envelope-edit ng-repeat="envelope in user.envelopes" envelope="envelope" user="user" alerts="alerts"></envelope-edit>
<button ng-click="addEnvelope()"><span class="glyphicons glyphicon-plus"></span></button>
<div><a ng-href="#/accounts/{{user.id}}">Back to {{user.name}} Account</a></div>
</div>